.App {
  text-align: center;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
}
.MoveHistory {
  background: #f2eecb;
  padding: 1%;
  margin-top: 10%;
  height: 10%;
}
.MoveLog {
  border-bottom: 2px solid black;
  margin-bottom: 2%;
  height: 40%;
}
.Piece, .KingPiece {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.KingPiece {
  border: 4px solid goldenrod;
}

.Cell, .SelectedCell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SelectedCell {
  box-shadow:  2px 2px 3px 3px green inset;
}
.logoBackground {
  background: white;
}
.Board {
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BoardRow {
  display: flex;
  flex-direction: column;
}
.CellWrapper {
  display: flex;
  flex-direction: row;

}
.RowNumber {
  margin-right: 30px;
}

@media only screen and (max-width: 800px) {
  .Cell, .SelectedCell {
    width: 32px;
    height: 32px;
  }
  .Piece, .KingPiece {
    width: 16px;
    height: 16px;
  }
}